pandas is a column-oriented data analysis API. It's a great tool for handling and analyzing input data, and many ML frameworks support pandas data structures as inputs. Although a comprehensive introduction to the pandas API would span many pages, the core concepts are fairly straightforward, and we'll present them below. For a more complete reference, the pandas docs site contains extensive documentation and many tutorials.

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Import the package

In [3]:
import pandas as pd

Identify the pandas version

In [ ]:
pd.__version__

'1.5.3'

The primary data structures in *pandas* are implemented as two classes:

  * **`DataFrame`**, which you can imagine as a relational data table, with rows and named columns.
  * **`Series`**, which is a single column. A `DataFrame` contains one or more `Series` and a name for each `Series`.

The data frame is a commonly used abstraction for data manipulation.

Create a Simple Series

In [ ]:
objSeries=pd.Series([11,"VIT",12.34,"Chennai"])
objSeries

0         11
1        VIT
2      12.34
3    Chennai
dtype: object

In [ ]:
objSeries[3]

'Chennai'

In [ ]:
pd.Series(['Chennai Super Kings', 'Sunrisers Hyderabad', 'Mumbai Indians','Kolkata Knight Riders'])

0      Chennai Super Kings
1      Sunrisers Hyderabad
2           Mumbai Indians
3    Kolkata Knight Riders
dtype: object

In [ ]:
objSeries.values

array([11, 'VIT', 12.34, 'Chennai'], dtype=object)

In [ ]:
objSeries1=pd.Series([11,"VIT",12.34,"Chennai"],index=["a","b","c","d"])
objSeries1

a         11
b        VIT
c      12.34
d    Chennai
dtype: object

In [ ]:
objSeries1['a']

11

In [ ]:
cricket={"MSD":99, "Dravid":91,"Sachin":85,"Ponting":53,"Lara":45}
type(cricket)

dict

In [ ]:
cricket

{'MSD': 99, 'Dravid': 91, 'Sachin': 85, 'Ponting': 53, 'Lara': 45}

Convert dict into Series

In [ ]:
Scores=pd.Series(cricket) # Convert to Series 
Scores

MSD        99
Dravid     91
Sachin     85
Ponting    53
Lara       45
dtype: int64

In [ ]:
Scores[Scores>=91]

MSD       99
Dravid    91
dtype: int64

In [ ]:
Scores['Lara'] =86

In [ ]:
Scores

MSD        99
Dravid     91
Sachin     85
Ponting    53
Lara       86
dtype: int64

In [ ]:
Scores[Scores<=75]=79
Scores

MSD        99
Dravid     91
Sachin     85
Ponting    79
Lara       86
dtype: int64

In [ ]:
'Lara' in Scores

True

In [ ]:
'lara' in Scores

False

In [ ]:
Scores**2

MSD        9801
Dravid     8281
Sachin     7225
Ponting    6241
Lara       7396
dtype: int64

In [ ]:
Scores/100

MSD        0.99
Dravid     0.91
Sachin     0.85
Ponting    0.79
Lara       0.86
dtype: float64

In [ ]:
Scores['Umesh'] =None

In [ ]:
Scores.isnull()

MSD        False
Dravid     False
Sachin     False
Ponting    False
Lara       False
Umesh       True
dtype: bool

DataFrame

In [1]:
data={"name":["Ram","Kunal","Karan","Vijay","Laxmi","Rajee","Nila"],      
      "marks":[90,80,85,75,95,60,65],      
      "interest":["TV","Books","Cricket","Football","Tennis",
               "TV","Movies"],      
      "sex":["M","M","M","M","F","F","F"]}

In [5]:
df=pd.DataFrame(data)

In [6]:
df

    name  marks  interest sex
0    Ram     90        TV   M
1  Kunal     80     Books   M
2  Karan     85   Cricket   M
3  Vijay     75  Football   M
4  Laxmi     95    Tennis   F
5  Rajee     60        TV   F
6   Nila     65    Movies   F

In [4]:
df=pd.DataFrame(data,columns=["name","marks","sex"])
df

    name  marks sex
0    Ram     90   M
1  Kunal     80   M
2  Karan     85   M
3  Vijay     75   M
4  Laxmi     95   F
5  Rajee     60   F
6   Nila     65   F

In [ ]:
df.head()

    name  marks sex  interest
0    Ram     90   M        TV
1  Kunal     80   M     Books
2  Karan     85   M   Cricket
3  Vijay     75   M  Football
4  Laxmi     95   F    Tennis

In [ ]:
df.tail()

    name  marks sex  interest
2  Karan     85   M   Cricket
3  Vijay     75   M  Football
4  Laxmi     95   F    Tennis
5  Rajee     60   F        TV
6   Nila     65   F    Movies

In [ ]:
df.tail(2)

    name  marks sex interest
5  Rajee     60   F       TV
6   Nila     65   F   Movies

In [ ]:
df=pd.DataFrame(data,columns=["name","marks","sex","interest",'age'])
df

    name  marks sex  interest  age
0    Ram     90   M        TV  NaN
1  Kunal     80   M     Books  NaN
2  Karan     85   M   Cricket  NaN
3  Vijay     75   M  Football  NaN
4  Laxmi     95   F    Tennis  NaN
5  Rajee     60   F        TV  NaN
6   Nila     65   F    Movies  NaN

In [ ]:
df=pd.DataFrame(data,columns=["name","marks","sex","interest",'age'],
                 index=["one","two","three","four","five","six","seven"])
df

        name  marks sex  interest  age
one      Ram     90   M        TV  NaN
two    Kunal     80   M     Books  NaN
three  Karan     85   M   Cricket  NaN
four   Vijay     75   M  Football  NaN
five   Laxmi     95   F    Tennis  NaN
six    Rajee     60   F        TV  NaN
seven   Nila     65   F    Movies  NaN

In [ ]:
df['interest']

one            TV
two         Books
three     Cricket
four     Football
five       Tennis
six            TV
seven      Movies
Name: interest, dtype: object

In [ ]:
cols= ['name','marks']
df[cols]

        name  marks
one      Ram     90
two    Kunal     80
three  Karan     85
four   Vijay     75
five   Laxmi     95
six    Rajee     60
seven   Nila     65

In [ ]:
df.interest

one            TV
two         Books
three     Cricket
four     Football
five       Tennis
six            TV
seven      Movies
Name: interest, dtype: object

In [ ]:
#loc[] is used to retrieve the group of rows and columns by labels or a boolean array in the DataFrame
df.loc["one"]

name        Ram
marks        90
sex           M
interest     TV
age         NaN
Name: one, dtype: object

In [ ]:
df.loc[["one"]]

    name  marks sex interest  age
one  Ram     90   M       TV  NaN

In [ ]:
df.loc[["one","two"]]

      name  marks sex interest  age
one    Ram     90   M       TV  NaN
two  Kunal     80   M    Books  NaN

In [ ]:
df["age"]=18
df

        name  marks sex  interest  age
one      Ram     90   M        TV   18
two    Kunal     80   M     Books   18
three  Karan     85   M   Cricket   18
four   Vijay     75   M  Football   18
five   Laxmi     95   F    Tennis   18
six    Rajee     60   F        TV   18
seven   Nila     65   F    Movies   18

In [ ]:
values=[18,19,20,18,17,17,18]
df["age"]=values
df

        name  marks sex  interest  age
one      Ram     90   M        TV   18
two    Kunal     80   M     Books   19
three  Karan     85   M   Cricket   20
four   Vijay     75   M  Football   18
five   Laxmi     95   F    Tennis   17
six    Rajee     60   F        TV   17
seven   Nila     65   F    Movies   18

In [ ]:
df["pass"]=df.marks>=70
df

        name  marks sex  interest  age   pass
one      Ram     90   M        TV   18   True
two    Kunal     80   M     Books   19   True
three  Karan     85   M   Cricket   20   True
four   Vijay     75   M  Football   18   True
five   Laxmi     95   F    Tennis   17   True
six    Rajee     60   F        TV   17  False
seven   Nila     65   F    Movies   18  False

In [ ]:
del df["pass"]
df

        name  marks sex  interest  age
one      Ram     90   M        TV   18
two    Kunal     80   M     Books   19
three  Karan     85   M   Cricket   20
four   Vijay     75   M  Football   18
five   Laxmi     95   F    Tennis   17
six    Rajee     60   F        TV   17
seven   Nila     65   F    Movies   18

In [ ]:
marks1={"TOC":{"PQ":85,"RS":90,"TU":95}, "Python":{"PQ":90,"RS":80,"TU":75}}
marks1_df=pd.DataFrame(marks1)
marks1_df

    TOC  Python
PQ   85      90
RS   90      80
TU   95      75

In [ ]:
marks1_df.T #transpose

name     PQ  RS  TU
subject
TOC      85  90  95
Python   90  80  75

In [ ]:
marks1_df.index.name="name"
marks1_df.columns.name="subject"

In [ ]:
marks1_df

subject  TOC  Python
name
PQ        85      90
RS        90      80
TU        95      75

In [ ]:
marks1_df.values

array([[85, 90],
       [90, 80],
       [95, 75]])

In [ ]:
type(marks1_df.values)

numpy.ndarray

Reading CSV and Excel sheets:

##### d=pd.read_csv("path"):
 * pd.read_csv() is the function to read the CSV(Comma separated values) file from your computer.
 * In the function you have to pass "path" of the CSV file under quote.
 * Store the dataframe in any variable,here i stored it in variable "d".
 * read_csv() function makes the CSV file into dataframe so that you can access it just like a disctionary.

##### d=pd.read_excel("path") : 
 * It is same as the read_csv() but it reads  excel sheet or file.
Here i am using the weather dataset which has all the data of weather.
######  In my case,weather.csv file is in my current directory that is why the path of the file is file name itself.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
d=pd.read_csv('/content/drive/My Drive/weather.csv') 
# returning dataframe object
d
#printing dataframe d

Mounted at /content/drive

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [ ]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

### Shape of the dataframe
  * <b>df.shape :</b> It will return a tuple (rows,columns)

In [ ]:
df.shape

(5, 4)

### Statistics of your dataframe
 * You can see the statistics of your dataframe by calling describe() function
 * It will print count of the columns,mean,SD,min,max etc..

In [ ]:
d.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

### Condition:
 * To get dataframe where temperature is greater than 9

In [ ]:
d1=d[d['Temperature (C)']>9]
d1

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [ ]:
#How many rows and columns are there in 'd1'?
d1.shape

(56606, 12)

### Changing Index
 * Pandas has its own indexing by default from 0 to row no 
 * We can also reset its index by set_index() function

In [ ]:
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [ ]:
df.set_index('dates',inplace=True)

In [ ]:
df

            day  wind-speed  temp
dates
02-01-12  sunny          12    45
03-01-12  rainy          34    46
04-01-12    hot          45    47
05-01-12  sunny          56    48
06-01-12    hot          67    49

#### Now we can find the specific value rows

In [ ]:
df.loc['02-01-12']

day           sunny
wind-speed       12
temp             45
Name: 02-01-12, dtype: object

In [ ]:
df.iloc[4]

day           hot
wind-speed     67
temp           49
Name: 06-01-12, dtype: object

In [ ]:
df.iloc[0:3]

            day  wind-speed  temp
dates
02-01-12  sunny          12    45
03-01-12  rainy          34    46
04-01-12    hot          45    47

In [ ]:
df.reset_index()

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

# Reading, writing CSV and Excel file <br>

In [ ]:
#Reading CSV file
#d=pd.read_csv('datasets/weather.csv')
#d.head(3)
df=pd.read_excel('titanic.xls')
df.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

If you want to read only few rows rather than all

In [ ]:
df=pd.read_csv('weather.csv',nrows=7)
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            7 non-null      object
 1   Summary                   7 non-null      object
 2   Precip Type               7 non-null      object
 3   Temperature (C)           7 non-null      float64
 4   Apparent Temperature (C)  7 non-null      float64
 5   Humidity                  7 non-null      float64
 6   Wind Speed (km/h)         7 non-null      float64
 7   Wind Bearing (degrees)    7 non-null      float64
 8   Visibility (km)           7 non-null      float64
 9   Loud Cover                7 non-null      float64
 10  Pressure (millibars)      7 non-null      float64
 11  Daily Summary             7 non-null      object
dtypes: float64(8), object(4)
memory usage: 800.0+ bytes

In [ ]:
df2=pd.read_csv('test.csv')
df2

   id        name  class  mark     sex
0   1          na   Four    75  female
1   2    Max Ruin  Three    85    male
2   3         NaN  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female
5   6          --   Four    55    male
6   7         NaN  Fifth    78    male
7   8      Asruid   Five    85    male
8   9         NaN    Six    78    male
9  10    Big John   Four    55  female

In [ ]:
blank_values = ["n/a", "na", "--"]
df2=pd.read_csv("test.csv",na_values=blank_values)
df2

   id        name  class  mark     sex
0   1         NaN   Four    75  female
1   2    Max Ruin  Three    85    male
2   3         NaN  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female
5   6         NaN   Four    55    male
6   7         NaN  Fifth    78    male
7   8      Asruid   Five    85    male
8   9         NaN    Six    78    male
9  10    Big John   Four    55  female

In [ ]:
df2.to_csv('mycsv1.csv',index=False)

#### how many columns in dataframe df ?

In [10]:
df.columns
len(df.columns)

4

In [ ]:
#Writing only few columna
df.to_csv('mycsv_few_columns.csv',columns=['Summary','Wind Speed (km/h)'],index=False)

#Again reading to see the result
d=pd.read_csv('mycsv_few_columns.csv')
d

         Summary  Wind Speed (km/h)
0  Partly Cloudy            14.1197
1  Partly Cloudy            14.2646
2  Mostly Cloudy             3.9284
3  Partly Cloudy            14.1036
4  Mostly Cloudy            11.0446
5  Partly Cloudy            13.9587
6  Partly Cloudy            12.3648

In [ ]:
df=pd.read_csv('season.csv')
df

       dates    day  temp     wind-speed
0   2/1/2012  sunny  45.0             12
1   3/1/2012  rainy  46.0             34
2   4/1/2012    hot  47.0             45
3   5/1/2012    NaN   NaN             56
4   6/1/2012    hot  49.0  Not available
5   7/1/2012    NaN   NaN  Not available
6   8/1/2012    hot  12.0             45
7   9/1/2012  rainy  23.0             41
8  10/1/2012    NaN   NaN            NaN
9  11/1/2012    NaN   NaN            NaN

### Converters :

In various cases you dont have clean dataset. Invalid values in the dataset leads to a lot of problem while predicting or extracting the meaningful information.To avoid this problem we use converters.
* Converters are basically functions which convert the specific value of a column in your desire value
* Converter function passed into the disctionary like in the na_values.

In [ ]:
def converter_for_temp(col):
    if col=='NaN':
        return 40
    else:
        return col
def converter_for_day(col):
    if col=='NaN':
        return 'sunny'
    else:
        return col
def converter_for_wind_speed(col):
    if col=='Not available':
        return 30
    elif col=="NaN":
        return 48
    else:
        return col

In [ ]:
df=pd.read_csv('season.csv',converters={
    'day':converter_for_day,
    'temp':converter_for_temp,
    'wind-speed':converter_for_wind_speed
   })
df

       dates    day temp wind-speed
0   2/1/2012  sunny   45         12
1   3/1/2012  rainy   46         34
2   4/1/2012    hot   47         45
3   5/1/2012  sunny   40         56
4   6/1/2012    hot   49         30
5   7/1/2012  sunny   40         30
6   8/1/2012    hot   12         45
7   9/1/2012  rainy   23         41
8  10/1/2012  sunny   40         48
9  11/1/2012  sunny   40         48

### Writing different dataframes into one file but different sheet names

Let's assume that you have two different dataframes and you want to write it in the same excel sheet but different sheet names. 
<br>

Let's take two disctionary one is "weather1" and another is "house1" and make it two dataframe "weather" & "house"

In [ ]:
#Creating weather disctionary
weather1={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
weather=pd.DataFrame(weather1)

#Creating house disctionary
house1={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'price':[20000,30000,40000,50000,60000],
         'bhk':[1,3,2,1,2],
         'how-old':[2,5,2,7,4]
       }

#converting house disctionary to dataframe object

house=pd.DataFrame(house1)

Call the "ExcelWriter" and make a object "writer".Now call to_excel() function and pass three argument -
  * <b>1. "writer" object :</b>
  * <b>2. sheet_name : </b>
  * <b>3. Index :</b> This is optional for you

In [ ]:
with pd.ExcelWriter('weather_and_house.xls') as writer:
   weather.to_excel(writer,sheet_name='Weather',index=False)
   house.to_excel(writer,sheet_name='House',index=False)

<ipython-input-115-320887026a27>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  with pd.ExcelWriter('datasets/weather_and_house.xls') as writer:

ModuleNotFoundError: ignored

In [ ]:
!pip install xlwt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 kB 3.2 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [ ]:
with pd.ExcelWriter('weather_and_house.xls') as writer:
   weather.to_excel(writer,sheet_name='Weather',index=False)
   house.to_excel(writer,sheet_name='House',index=False)

<ipython-input-118-2657b7cae41d>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  with pd.ExcelWriter('weather_and_house.xls') as writer: